.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

input[type=text] {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  width: 100%;
  height: 38px;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
}

.clear{
  padding: 5px 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  width: 100%;
}

.not-available{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.not-available p{
  font-size: 24px;
  color: #333;
  text-align: center;
  padding: 20px;
}